## PROYECTO 2 ##

**TÍTULO**

Objetivo: 

Identificar regiones de México con mayor potencial de desarrollo económico y social, combinando demografía, nivel educativo y condiciones de vivienda, para optimizar inversiones, servicios o políticas públicas.

In [147]:
import pandas as pd

url1 = 'https://raw.githubusercontent.com/julio-bp/PROYECTO2/refs/heads/main/datos_de_educacion.csv'
df_educacion = pd.read_csv(url1)

In [148]:
url2 = 'https://raw.githubusercontent.com/julio-bp/PROYECTO2/refs/heads/main/datos_poblacion.csv'
df_poblacion = pd.read_csv(url2)

In [149]:
url3 = 'https://raw.githubusercontent.com/julio-bp/PROYECTO2/refs/heads/main/datos_vivienda.csv'
df_vivienda = pd.read_csv(url3)

**Funciones**

In [150]:
## análisis general

In [151]:
def informe(x):
    print("Información del DataFrame:")
    print(x.info())
    print("Descripción estadística:")
    print(x.describe())
    print("Valores nulos:")
    print(x.isnull().sum())
    print("Tipos de datos:")
    print(x.dtypes)
    print("Primeras 5 filas:")
    print(x.head())
    print("Últimas 5 filas:")
    print(x.tail())
    print("Forma del DataFrame:")
    print(x.shape)
    print("columnas")
    print(x.columns)

In [152]:
## análisis funciones categóricas

In [153]:
def anali(x):
    print(x.value_counts())
    print(x.unique())
    print(x.nunique())

In [154]:
## limpieza

In [155]:
def limpieza(df, column):
    df[column] = df[column].str.strip().str.upper()
    return df

In [156]:
## duplicados y nulos

In [157]:
def datos(x):
    print("datos nulos")
    print(x.isnull().sum())
    print("datos totales")
    print(x.count())   
    print("porcentaje de nulos")
    print(x.isnull().sum() / x.shape[0]*100)
    print("datos duplicados")
    print(x.duplicated().sum())

## ANÁLISIS ##

In [158]:
informe(df_vivienda)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 37 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Unnamed: 0                                                                         33 non-null     int64
 1   estados                                                                            33 non-null     object
 2   disponibilidad de bienes: automovil o camioneta                                    33 non-null     float64
 3   disponibilidad de bienes: bicicleta como medio de transporte                       33 non-null     float64
 4   disponibilidad de bienes: lavadora                                                 33 non-null     float64
 5   disponibilidad de bienes: motocicleta o motoneta                                   33 non-null     float64
 6   disponibilidad de bienes: refrigerador                                             33 non-null     float64
 7   disponibilidad de servicios en la vivienda: cisterna o aljibe                      33 non-null     float64
 8   disponibilidad de servicios en la vivienda: tinaco                                 33 non-null     float64
 9   porcentaje de viviendas con agua entubada dentro de la vivienda                    33 non-null     float64
 10  porcentaje de viviendas con electricidad                                           33 non-null     float64
 11  porcentaje de viviendas con piso de tierra                                         33 non-null     float64
 12  porcentaje de viviendas con techos de materiales resistentes                       33 non-null     float64
 13  porcentaje de viviendas particulares habitadas con disponibilidad de drenaje       33 non-null     float64
 14  porcentaje de viviendas particulares habitadas con disponibilidad de excusado      33 non-null     float64
 15  porcentaje de viviendas particulares habitadas propias                             33 non-null     float64
 16  porcentaje de viviendas particulares habitadas que disponen de internet            33 non-null     float64
 17  porcentaje de viviendas particulares habitadas que disponen de computadora         33 non-null     float64
 18  porcentaje de viviendas particulares habitadas que disponen de television de paga  33 non-null     float64
 19  porcentaje de viviendas particulares habitadas que disponen de telefono celular    33 non-null     float64
 20  porcentaje de viviendas particulares habitadas que disponen de telefono fijo       33 non-null     float64
 21  promedio de ocupantes en viviendas particulares habitadas                          33 non-null     float64
 22  promedio de ocupantes por cuarto (indice de hacinamiento)                          33 non-null     float64
 23  tasa de crecimiento promedio anual de las viviendas particulares habitadas         33 non-null     float64
 24  total de viviendas particulares habitadas                                          33 non-null     int64
 25  viviendas colectivas                                                               33 non-null     int64
 26  viviendas habitadas                                                                33 non-null     int64
 27  viviendas moviles                                                                  33 non-null     int64
 28  viviendas particulares habitadas que disponen de computadora                       33 non-null     int64
 29  viviendas particulares habitadas que disponen de drenaje                           33 non-null     int64
 30  viviendas particulares habitadas que disponen de energia electrica                 33 non-null     int64
 31  viviendas particulares habitadas que disponen de excusado o sanitario              33 non-null     int64
 32  viviendas que son casa independiente o local no construido para habitacion         33 non-null     int64
 33  viviendas que son cuarto de azotea                                                 33 non-null     int64
 34  viviendas que son departamento en edificio o vivienda en vecindad                  33 non-null     int64
 35  viviendas que son refugio                                                          33 non-null     int64
 36  viviendas, de cada cien que cuentan con electricidad, agua y drenaje               33 non-null     float64
dtypes: float64(23), int64(13), object(1)
memory usage: 9.7+ KB
None
Descripción estadística:
       Unnamed: 0  disponibilidad de bienes: automovil o camioneta  \
count    33.00000                                        33.000000
mean     16.00000                                        47.944953
std       9.66954                                        13.582184
min       0.00000                                        21.122835
25%       8.00000                                        38.456737
50%      16.00000                                        48.191124
75%      24.00000                                        58.769281
max      32.00000                                        69.930111

       disponibilidad de bienes: bicicleta como medio de transporte  \
count                                          33.000000
mean                                           21.527865
std                                             7.356621
min                                             9.274364
25%                                            17.321554
50%                                            21.363050
75%                                            26.021264
max                                            39.389137

       disponibilidad de bienes: lavadora  \
count                           33.000000
mean                            72.799789
std                             11.689253
min                             43.779750
25%                             68.530820
50%                             75.241229
75%                             80.600997
max                             87.064132

       disponibilidad de bienes: motocicleta o motoneta  \
count                                         33.000000
mean                                          13.104837
std                                            5.556160
min                                            5.781599
25%                                            7.914990
50%                                           11.910565
75%                                           17.443896
max                                           24.728980

       disponibilidad de bienes: refrigerador  \
count                               33.000000
mean                                88.002569
std                                  7.800198
min                                 64.581097
25%                                 84.140830
50%                                 90.190341
75%                                 94.202491
max                                 96.742551

       disponibilidad de servicios en la vivienda: cisterna o aljibe  \
count                                          33.000000
mean                                           24.503884
std                                            13.910696
min                                             2.565350
25%                                            14.560604
50%                                            24.952449
75%                                            30.950430
max                                            60.514634

       disponibilidad de servicios en la vivienda: tinaco  \
count                                          33.000000
mean                                           65.360644
std                                            20.013240
min                                            10.679562
25%                                            55.165694
50%                                            72.815145
75%                                            77.877950
max                                            90.603772

       porcentaje de viviendas con agua entubada dentro de la vivienda  \
count                                          33.000000
mean                                           77.561904
std                                            14.384605
min                                            40.620816
25%                                            66.882029
50%                                            78.308929
75%                                            89.446091
max                                            97.066496

       porcentaje de viviendas con electricidad  ...  viviendas moviles  \
count                                 33.000000  ...          33.000000
mean                                  98.836575  ...         321.636364
std                                    0.637498  ...        1022.344848
min                                   97.499657  ...           2.000000
25%                                   98.291542  ...          17.000000
50%                                   99.001843  ...          34.000000
75%                                   99.303965  ...          98.000000
max                                   99.807534  ...        5307.000000

       viviendas particulares habitadas que disponen de computadora  \
count                                       3.300000e+01
mean                                        8.002836e+05
std                                         2.263455e+06
min                                         8.776900e+04
25%                                         1.771490e+05
50%                                         2.632440e+05
75%                                         5.056130e+05
max                                         1.320468e+07

       viviendas particulares habitadas que disponen de drenaje  \
count                                       3.300000e+01
mean                                        2.034185e+06
std                                         5.725262e+06
min                                         2.247080e+05
25%                                         5.486320e+05
50%                                         8.270960e+05
75%                                         1.227072e+06
max                                         3.356405e+07

       viviendas particulares habitadas que disponen de energia electrica  \
count                                       3.300000e+01
mean                                        2.109453e+06
std                                         5.935207e+06
min                                         2.246340e+05
25%                                         5.564090e+05
50%                                         8.649100e+05
75%                                         1.317473e+06
max                                         3.480598e+07

       viviendas particulares habitadas que disponen de excusado o sanitario  \
count                                       3.300000e+01
mean                                        2.089606e+06
std                                         5.879753e+06
min                                         2.247400e+05
25%                                         5.526160e+05
50%                                         8.511280e+05
75%                                         1.304646e+06
max                                         3.447850e+07

       viviendas que son casa independiente o local no construido para habitacion  \
count                                       3.300000e+01
mean                                        1.575607e+06
std                                         4.418734e+06
min                                         1.934900e+05
25%                                         3.995490e+05
50%                                         7.407430e+05
75%                                         1.064788e+06
max                                         2.599752e+07

       viviendas que son cuarto de azotea  \
count                           33.000000
mean                           287.454545
std                           1027.812273
min                              1.000000
25%                              8.000000
50%                             18.000000
75%                             46.000000
max                           4743.000000

       viviendas que son departamento en edificio o vivienda en vecindad  \
count                                       3.300000e+01
mean                                        1.383081e+05
std                                         4.167399e+05
min                                         3.088000e+03
25%                                         1.117400e+04
50%                                         2.718000e+04
75%                                         5.144100e+04
max                                         2.282084e+06

       viviendas que son refugio  \
count                  33.000000
mean                  472.424242
std                  1327.218474
min                    42.000000
25%                    82.000000
50%                   234.000000
75%                   422.000000
max                  7795.000000

       viviendas, de cada cien que cuentan con electricidad, agua y drenaje
count                                          33.000000
mean                                           92.832340
std                                             5.474547
min                                            74.198687
25%                                            91.921746
50%                                            94.432333
75%                                            95.644574
max                                            98.697187

[8 rows x 36 columns]
Valores nulos:
Unnamed: 0                                                                           0
estados                                                                              0
disponibilidad de bienes: automovil o camioneta                                      0
disponibilidad de bienes: bicicleta como medio de transporte                         0
disponibilidad de bienes: lavadora                                                   0
disponibilidad de bienes: motocicleta o motoneta                                     0
disponibilidad de bienes: refrigerador                                               0
disponibilidad de servicios en la vivienda: cisterna o aljibe                        0
disponibilidad de servicios en la vivienda: tinaco                                   0
porcentaje de viviendas con agua entubada dentro de la vivienda                      0
porcentaje de viviendas con electricidad                                             0
porcentaje de viviendas con piso de tierra                                           0
porcentaje de viviendas con techos de materiales resistentes                         0
porcentaje de viviendas particulares habitadas con disponibilidad de drenaje         0
porcentaje de viviendas particulares habitadas con disponibilidad de excusado        0
porcentaje de viviendas particulares habitadas propias                               0
porcentaje de viviendas particulares habitadas que disponen de internet              0
porcentaje de viviendas particulares habitadas que disponen de computadora           0
porcentaje de viviendas particulares habitadas que disponen de television de paga    0
porcentaje de viviendas particulares habitadas que disponen de telefono celular      0
porcentaje de viviendas particulares habitadas que disponen de telefono fijo         0
promedio de ocupantes en viviendas particulares habitadas                            0
promedio de ocupantes por cuarto (indice de hacinamiento)                            0
tasa de crecimiento promedio anual de las viviendas particulares habitadas           0
total de viviendas particulares habitadas                                            0
viviendas colectivas                                                                 0
viviendas habitadas                                                                  0
viviendas moviles                                                                    0
viviendas particulares habitadas que disponen de computadora                         0
viviendas particulares habitadas que disponen de drenaje                             0
viviendas particulares habitadas que disponen de energia electrica                   0
viviendas particulares habitadas que disponen de excusado o sanitario                0
viviendas que son casa independiente o local no construido para habitacion           0
viviendas que son cuarto de azotea                                                   0
viviendas que son departamento en edificio o vivienda en vecindad                    0
viviendas que son refugio                                                            0
viviendas, de cada cien que cuentan con electricidad, agua y drenaje                 0
dtype: int64
Tipos de datos:
Unnamed: 0                                                                             int64
estados                                                                               object
disponibilidad de bienes: automovil o camioneta                                      float64
disponibilidad de bienes: bicicleta como medio de transporte                         float64
disponibilidad de bienes: lavadora                                                   float64
disponibilidad de bienes: motocicleta o motoneta                                     float64
disponibilidad de bienes: refrigerador                                               float64
disponibilidad de servicios en la vivienda: cisterna o aljibe                        float64
disponibilidad de servicios en la vivienda: tinaco                                   float64
porcentaje de viviendas con agua entubada dentro de la vivienda                      float64
porcentaje de viviendas con electricidad                                             float64
porcentaje de viviendas con piso de tierra                                           float64
porcentaje de viviendas con techos de materiales resistentes                         float64
porcentaje de viviendas particulares habitadas con disponibilidad de drenaje         float64
porcentaje de viviendas particulares habitadas con disponibilidad de excusado        float64
porcentaje de viviendas particulares habitadas propias                               float64
porcentaje de viviendas particulares habitadas que disponen de internet              float64
porcentaje de viviendas particulares habitadas que disponen de computadora           float64
porcentaje de viviendas particulares habitadas que disponen de television de paga    float64
porcentaje de viviendas particulares habitadas que disponen de telefono celular      float64
porcentaje de viviendas particulares habitadas que disponen de telefono fijo         float64
promedio de ocupantes en viviendas particulares habitadas                            float64
promedio de ocupantes por cuarto (indice de hacinamiento)                            float64
tasa de crecimiento promedio anual de las viviendas particulares habitadas           float64
total de viviendas particulares habitadas                                              int64
viviendas colectivas                                                                   int64
viviendas habitadas                                                                    int64
viviendas moviles                                                                      int64
viviendas particulares habitadas que disponen de computadora                           int64
viviendas particulares habitadas que disponen de drenaje                               int64
viviendas particulares habitadas que disponen de energia electrica                     int64
viviendas particulares habitadas que disponen de excusado o sanitario                  int64

In [159]:
informe(df_poblacion)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Columns: 128 entries, Unnamed: 0 to indice de envejecimiento
dtypes: float64(126), int64(1), object(1)
memory usage: 33.1+ KB
None
Descripción estadística:
       Unnamed: 0  densidad de poblacion  edad mediana  edad mediana hombres  \
count    33.00000              33.000000     33.000000             33.000000
mean     16.00000             302.240228     29.000000             28.212121
std       9.66954            1062.566832      1.713914              1.709488
min       0.00000              10.803055     24.000000             24.000000
25%       8.00000              43.959693     28.000000             27.000000
50%      16.00000              64.271664     29.000000             28.000000
75%      24.00000             148.060870     30.000000             29.000000
max      32.00000            6163.320469     35.000000             34.000000

       edad mediana mujeres  poblacion a mitad de ano  \
count             33.000000              1.000000e+00
mean              29.818182              1.270916e+08
std                1.703939                       NaN
min               25.000000              1.270916e+08
25%               29.000000              1.270916e+08
50%               30.000000              1.270916e+08
75%               30.000000              1.270916e+08
max               36.000000              1.270916e+08

       poblacion de 0 a 4 anos  poblacion de 0 a 4 anos. hombres  \
count             3.300000e+01                      3.300000e+01
mean              6.089312e+05                      3.077262e+05
std               1.711612e+06                      8.649554e+05
min               5.231300e+04                      2.653200e+04
25%               1.517450e+05                      7.656300e+04
50%               2.381890e+05                      1.203140e+05
75%               4.549090e+05                      2.298070e+05
max               1.004736e+07                      5.077482e+06

       poblacion de 0 a 4 anos. mujeres  poblacion de 10 a 14 anos  ...  \
count                      3.300000e+01               3.300000e+01  ...
mean                       3.012050e+05               6.632448e+05  ...
std                        8.466566e+05               1.865502e+06  ...
min                        2.578100e+04               6.080100e+04  ...
25%                        7.518200e+04               1.641770e+05  ...
50%                        1.178750e+05               2.681440e+05  ...
75%                        2.251020e+05               4.627200e+05  ...
max                        4.969883e+06               1.094354e+07  ...

       porcentaje de mujeres de 80 a 84 anos  \
count                              33.000000
mean                                0.499312
std                                 0.109803
min                                 0.209639
25%                                 0.434692
50%                                 0.512528
75%                                 0.545704
max                                 0.775908

       porcentaje de mujeres de 85 anos y mas  \
count                               33.000000
mean                                 0.462990
std                                  0.121890
min                                  0.170281
25%                                  0.392553
50%                                  0.458990
75%                                  0.532466
max                                  0.747822

       porcentaje de poblacion de 15 a 29 anos  \
count                                33.000000
mean                                 24.914930
std                                   0.939586
min                                  23.013150
25%                                  24.294073
50%                                  24.832986
75%                                  25.390085
max                                  27.054709

       porcentaje de poblacion de 60 y mas anos  \
count                                 33.000000
mean                                  11.753865
std                                    1.638513
min                                    7.134167
25%                                   11.070459
50%                                   12.041376
75%                                   12.578000
max                                   16.212690

       porcentaje de poblacion en localidades de menos de 2 500 habitantes  \
count                                          33.000000
mean                                           22.295528
std                                            13.586396
min                                             0.698289
25%                                            12.054430
50%                                            21.051887
75%                                            28.898663
max                                            50.815177

       porcentaje de poblacion que se considera afrodescendiente  \
count                                          33.000000
mean                                            2.052268
std                                             1.394197
min                                             0.843090
25%                                             1.477500
50%                                             1.707659
75%                                             2.029480
max                                             8.583735

       promedio de ocupantes por dormitorio  relacion de dependencia  \
count                             33.000000                33.000000
mean                               1.781637                50.990944
std                                0.154285                 5.307301
min                                1.583529                40.991535
25%                                1.669457                48.191292
50%                                1.732963                50.663596
75%                                1.854472                53.285295
max                                2.216050                62.383978

       relacion hombres-mujeres  indice de envejecimiento
count                 33.000000                 33.000000
mean                  96.097371                 46.443331
std                    3.017367                 10.294064
min                   91.542132                 28.651509
25%                   94.396281                 41.860916
50%                   95.503720                 46.344287
75%                   97.564629                 48.905210
max                  103.390750                 90.249478

[8 rows x 127 columns]
Valores nulos:
Unnamed: 0                                                   0
estados                                                      0
densidad de poblacion                                        0
edad mediana                                                 0
edad mediana hombres                                         0
                                                            ..
porcentaje de poblacion que se considera afrodescendiente    0
promedio de ocupantes por dormitorio                         0
relacion de dependencia                                      0
relacion hombres-mujeres                                     0
indice de envejecimiento                                     0
Length: 128, dtype: int64
Tipos de datos:
Unnamed: 0                                                     int64
estados                                                       object
densidad de poblacion                                        float64
edad mediana                                                 float64
edad mediana hombres                                         float64
                                                              ...
porcentaje de poblacion que se considera afrodescendiente    float64
promedio de ocupantes por dormitorio                         float64
relacion de dependencia                                      float64
relacion hombres-mujeres                                     float64
indice de envejecimiento                                     float64
Length: 128, dtype: object
Primeras 5 filas:
   Unnamed: 0              estados  densidad de poblacion  edad mediana  \
0           0       aguascalientes             253.862309          27.0
1           1      baja california              52.750459          30.0
2           2  baja california sur              10.803055          29.0
3           3             campeche              16.149681          29.0
4           4              chiapas              75.620723          24.0

   edad mediana hombres  edad mediana mujeres  poblacion a mitad de ano  \
0                  26.0                  28.0                       NaN
1                  30.0                  30.0                       NaN
2                  29.0                  30.0                       NaN
3                  29.0                  30.0                       NaN
4                  24.0                  25.0                       NaN

   poblacion de 0 a 4 anos  poblacion de 0 a 4 anos. hombres  \
0                 124430.0                           62978.0
1                 266301.0                          134410.0
2                  62455.0                           31479.0
3                  78935.0                           39817.0
4                 574152.0                          288911.0

   poblacion de 0 a 4 anos. mujeres  ...  \
0                           61452.0  ...
1                          131891.0  ...
2                           30976.0  ...
3                           39118.0  ...
4                          285241.0  ...

   porcentaje de mujeres de 80 a 84 anos  \
0                               0.406503
1                               0.376090
2                               0.316509
3                               0.413173
4                               0.348043

   porcentaje de mujeres de 85 anos y mas  \
0                                0.370199
1                                0.300362
2                                0.278251
3                                0.395533
4                                0.338199

   porcentaje de poblacion de 15 a 29 anos  \
0                                26.501879
1                                26.171074
2                                25.296846
3                                24.294073
4                                25.661840

   porcentaje de poblacion de 60 y mas anos  \
0                                 10.208279
1                                 10.085671
2                                  9.515168
3                                 11.104798
4                                  9.205193

   porcentaje de poblacion en localidades de menos de 2 500 habitantes  \
0                                          15.915747
1                                           6.335334
2                                           8.885624
3                                          24.966096
4                                          50.815177

   porcentaje de poblacion que se considera afrodescendiente  \
0                                           1.573014
1                                           1.707659
2                                           3.297652
3                                           2.080975
4                                           1.019729

   promedio de ocupantes por dormitorio  relacion de dependencia  \
0                              1.655951                51.204883
1                              1.618358                42.604859
2                              1.732963                44.726513
3                              2.049989                50.717568
4                              2.216050                62.383978

   relacion hombres-mujeres  indice de envejecimiento
0                 95.576905                 37.740884
1                101.721123                 43.185780
2                103.390750                 38.369373
3                 96.927394                 42.558415
4                 95.350968                 28.685604

[5 rows x 128 columns]
Últimas 5 filas:
    Unnamed: 0                          estados  densidad de poblacion  \
28          28                       tamaulipas              43.959693
29          29                         tlaxcala             336.027000
30          30  veracruz de ignacio de la llave             112.255486
31          31                          yucatan              58.720617
32          32                        zacatecas              21.549393

    edad mediana  edad mediana hombres  edad mediana mujeres  \
28          30.0                  30.0                  31.0
29          28.0                  27.0                  29.0
30          31.0                  30.0                  32.0
31          30.0                  29.0                  31.0
32          28.0                  27.0                  29.0

    poblacion a mitad de ano  poblacion de 0 a 4 anos  \
28                       NaN                 271340.0
29                       NaN                 110460.0
30                       NaN                 600253.0
31                       NaN                 175986.0
32                       NaN                 151745.0

    poblacion de 0 a 4 anos. hombres  poblacion de 0 a 4 anos. mujeres  ...  \
28                          137176.0                          134164.0  ...
29                           55685.0                           54775.0  ...
30                          303113.0                          297140.0  ...
31                           89335.0                           86651.0  ...
32                           76563.0                           75182.0  ...

    porcentaje de mujeres de 80 a 84 anos  \
28                               0.537154
29                               0.473204
30                               0.647094
31                               0.516037
32                               0.581196

    porcentaje de mujeres de 85 anos y mas  \
28                                0.458990
29                                0.514579
30                                0.618021
31                                0.447028
32                                0.572308

    porcentaje de poblacion de 15 a 29 anos  \
28                                24.027698
29                                25.710184
30                                23.108795
31                                25.327675
32                                24.015541

    porcentaje de poblacion de 60 y mas anos  \
28                                 12.101567
29                                 11.034816
30                                 14.367494
31                                 12.474095
32                                 12.329906

    porcentaje de poblacion en localidades de menos de 2 500 habitantes  \
28                                           9.748436
29                                          16.612347
30                                          38.275371
31                                          14.048312
32                                          36.744038

    porcentaje de poblacion que se considera afrodescendiente  \
28                                           1.236516
29                                           1.347305
30                                           2.672036
31                                           2.998796
32                                           0.983332

    promedio de ocupantes por dormitorio  relacion de dependencia  \
28                              1.727061                48.974523
29                              1.854472                51.133975
30                              1.813186                52.398999
31                              1.970818                48.191292
32                              1.698140                58.892105

    relacion hombres-mujeres  indice de envejecimiento
28                 96.904713                 48.905210
29                 93.768567                 41.931386
30                 92.387358                 59.048918
31                 96.583148                 52.433129
32                 95.184338                 43.543430

[5 rows x 128 columns]
Forma del DataFrame:
(33, 128)
columnas
Index(['Unnamed: 0', 'estados', 'densidad de poblacion', 'edad mediana',
       'edad mediana hombres', 'edad mediana mujeres',
       'poblacion a mitad de ano', 'poblacion de 0 a 4 anos',
       'poblacion de 0 a 4 anos. hombres', 'poblacion de 0 a 4 anos. mujeres',
       ...
       'porcentaje de mujeres de 80 a 84 anos',
       'porcentaje de mujeres de 85 anos y mas',
       'porcentaje de poblacion de 15 a 29 anos',
       'porcentaje de poblacion de 60 y mas anos',
       'porcentaje de poblacion en localidades de menos de 2 500 habitantes',
       'porcentaje de poblacion que se considera afrodescendiente',
       'promedio de ocupantes por dormitorio', 'relacion de dependencia',
       'relacion hombres-mujeres', 'indice de envejecimiento'],
      dtype='object', length=128)

In [160]:
informe(df_educacion)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 22 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Unnamed: 0                                                                                33 non-null     int64
 1   estados                                                                                   33 non-null     object
 2   grado promedio de escolaridad de la poblacion de 15 y mas anos                            33 non-null     float64
 3   poblacion de 6 a 14 anos que no especifico si sabe o no leer y escribir                   33 non-null     float64
 4   poblacion de 6 a 14 anos que no sabe leer y escribir                                      33 non-null     float64
 5   poblacion de 6 a 14 anos que sabe leer y escribir                                         33 non-null     float64
 6   poblacion de 8 a 14 anos que sabe leer y escribir                                         33 non-null     float64
 7   porcentaje de la poblacion de 12 a 14 anos que asiste a la escuela                        33 non-null     float64
 8   porcentaje de la poblacion de 15 a 24 anos que asiste a la escuela                        33 non-null     float64
 9   porcentaje de la poblacion de 15 anos y mas con instruccion media superior                33 non-null     float64
 10  porcentaje de la poblacion de 15 anos y mas con instruccion no especificada               33 non-null     float64
 11  porcentaje de la poblacion de 15 anos y mas con instruccion superior                      33 non-null     float64
 12  porcentaje de la poblacion de 3 a 5 anos que asiste a la escuela                          33 non-null     float64
 13  porcentaje de la poblacion de 3 anos y mas que asiste a la escuela                        33 non-null     float64
 14  porcentaje de la poblacion de 3 anos y mas que no asiste a la escuela                     33 non-null     float64
 15  porcentaje de la poblacion de 3 anos y mas que no especifico si asiste o no a la escuela  33 non-null     float64
 16  porcentaje de la poblacion de 6 a 11 anos que asiste a la escuela                         33 non-null     float64
 17  porcentaje de personas de 15 anos y mas alfabetas                                         33 non-null     float64
 18  porcentaje de poblacion de 15 anos y mas con escolaridad basica                           33 non-null     float64
 19  porcentaje de poblacion de 15 anos y mas sin escolaridad                                  33 non-null     float64
 20  porcentaje de poblacion de 25 anos y mas alfabeta                                         33 non-null     float64
 21  tasa de alfabetizacion de las personas de 15 a 24 anos                                    33 non-null     float64
dtypes: float64(20), int64(1), object(1)
memory usage: 5.8+ KB
None
Descripción estadística:
       Unnamed: 0  \
count    33.00000
mean     16.00000
std       9.66954
min       0.00000
25%       8.00000
50%      16.00000
75%      24.00000
max      32.00000

       grado promedio de escolaridad de la poblacion de 15 y mas anos  \
count                                          33.000000
mean                                            9.723324
std                                             0.775766
min                                             7.783218
25%                                             9.370759
50%                                             9.833170
75%                                            10.223508
max                                            11.482039

       poblacion de 6 a 14 anos que no especifico si sabe o no leer y escribir  \
count                                          33.000000
mean                                         6228.848485
std                                         17815.781789
min                                           436.000000
25%                                          1189.000000
50%                                          2205.000000
75%                                          3979.000000
max                                        102776.000000

       poblacion de 6 a 14 anos que no sabe leer y escribir  \
count                                       3.300000e+01
mean                                        1.134372e+05
std                                         3.190417e+05
min                                         1.081800e+04
25%                                         2.811500e+04
50%                                         4.230200e+04
75%                                         8.764200e+04
max                                         1.871713e+06

       poblacion de 6 a 14 anos que sabe leer y escribir  \
count                                       3.300000e+01
mean                                        1.063911e+06
std                                         2.992417e+06
min                                         9.782600e+04
25%                                         2.653910e+05
50%                                         4.451830e+05
75%                                         7.603650e+05
max                                         1.755453e+07

       poblacion de 8 a 14 anos que sabe leer y escribir  \
count                                       3.300000e+01
mean                                        8.968479e+05
std                                         2.522368e+06
min                                         8.273500e+04
25%                                         2.222570e+05
50%                                         3.674100e+05
75%                                         6.323050e+05
max                                         1.479799e+07

       porcentaje de la poblacion de 12 a 14 anos que asiste a la escuela  \
count                                          33.000000
mean                                           90.964746
std                                             2.488192
min                                            81.668109
25%                                            90.129508
50%                                            91.344450
75%                                            92.613240
max                                            94.308575

       porcentaje de la poblacion de 15 a 24 anos que asiste a la escuela  \
count                                          33.000000
mean                                           45.345163
std                                             4.025791
min                                            34.577641
25%                                            44.010323
50%                                            45.318109
75%                                            47.035518
max                                            55.253356

       porcentaje de la poblacion de 15 anos y mas con instruccion media superior  \
count                                          33.000000
mean                                           23.751745
std                                             2.791075
min                                            18.241452
25%                                            22.269533
50%                                            23.805843
75%                                            25.433430
max                                            29.164156

       porcentaje de la poblacion de 15 anos y mas con instruccion no especificada  \
count                                          33.000000
mean                                            0.191183
std                                             0.080797
min                                             0.095571
25%                                             0.136467
50%                                             0.173685
75%                                             0.212185
max                                             0.453789

       ...  porcentaje de la poblacion de 3 a 5 anos que asiste a la escuela  \
count  ...                                          33.000000
mean   ...                                          63.578677
std    ...                                           6.551776
min    ...                                          50.473512
25%    ...                                          60.252774
50%    ...                                          62.460491
75%    ...                                          67.023698
max    ...                                          77.296397

       porcentaje de la poblacion de 3 anos y mas que asiste a la escuela  \
count                                          33.000000
mean                                           28.492807
std                                             1.378868
min                                            25.115796
25%                                            27.900892
50%                                            28.168562
75%                                            29.594380
max                                            31.047128

       porcentaje de la poblacion de 3 anos y mas que no asiste a la escuela  \
count                                          33.000000
mean                                           71.406311
std                                             1.319168
min                                            68.910604
25%                                            70.361103
50%                                            71.711579
75%                                            72.006741
max                                            74.520291

       porcentaje de la poblacion de 3 anos y mas que no especifico si asiste o no a la escuela  \
count                                          33.000000
mean                                            0.100882
std                                             0.102210
min                                             0.033772
25%                                             0.043803
50%                                             0.071407
75%                                             0.099996
max                                             0.527605

       porcentaje de la poblacion de 6 a 11 anos que asiste a la escuela  \
count                                          33.000000
mean                                           95.708811
std                                             0.937171
min                                            93.085947
25%                                            95.301676
50%                                            95.879797
75%                                            96.301403
max                                            97.266152

       porcentaje de personas de 15 anos y mas alfabetas  \
count                                          33.000000
mean                                           95.099396
std                                             3.061010
min                                            86.216106
25%                                            94.004401
50%                                            96.328717
75%                                            97.096214
max                                            98.152618

       porcentaje de poblacion de 15 anos y mas con escolaridad basica  \
count                                          33.000000
mean                                           49.853644
std                                             4.563737
min                                            35.526744
25%                                            47.512548
50%                                            49.342384
75%                                            52.165137
max                                            59.436527

       porcentaje de poblacion de 15 anos y mas sin escolaridad  \
count                                          33.000000
mean                                            4.858170
std                                             2.753880
min                                             1.779600
25%                                             3.067509
50%                                             3.996786
75%                                             6.062799
max                                            13.292612

       porcentaje de poblacion de 25 anos y mas alfabeta  \
count                                          33.000000
mean                                           94.002942
std                                             3.916993
min                                            82.590402
25%                                            92.667551
50%                                            95.507367
75%                                            96.711754
max                                            97.917138

       tasa de alfabetizacion de las personas de 15 a 24 anos
count                                          33.000000
mean                                           98.729499
std                                             0.543774
min                                            96.293916
25%                                            98.686188
50%                                            98.898472
75%                                            98.984964
max                                            99.244364

[8 rows x 21 columns]
Valores nulos:
Unnamed: 0                                                                                  0
estados                                                                                     0
grado promedio de escolaridad de la poblacion de 15 y mas anos                              0
poblacion de 6 a 14 anos que no especifico si sabe o no leer y escribir                     0
poblacion de 6 a 14 anos que no sabe leer y escribir                                        0
poblacion de 6 a 14 anos que sabe leer y escribir                                           0
poblacion de 8 a 14 anos que sabe leer y escribir                                           0
porcentaje de la poblacion de 12 a 14 anos que asiste a la escuela                          0
porcentaje de la poblacion de 15 a 24 anos que asiste a la escuela                          0
porcentaje de la poblacion de 15 anos y mas con instruccion media superior                  0
porcentaje de la poblacion de 15 anos y mas con instruccion no especificada                 0
porcentaje de la poblacion de 15 anos y mas con instruccion superior                        0
porcentaje de la poblacion de 3 a 5 anos que asiste a la escuela                            0
porcentaje de la poblacion de 3 anos y mas que asiste a la escuela                          0
porcentaje de la poblacion de 3 anos y mas que no asiste a la escuela                       0
porcentaje de la poblacion de 3 anos y mas que no especifico si asiste o no a la escuela    0
porcentaje de la poblacion de 6 a 11 anos que asiste a la escuela                           0
porcentaje de personas de 15 anos y mas alfabetas                                           0
porcentaje de poblacion de 15 anos y mas con escolaridad basica                             0
porcentaje de poblacion de 15 anos y mas sin escolaridad                                    0
porcentaje de poblacion de 25 anos y mas alfabeta                                           0
tasa de alfabetizacion de las personas de 15 a 24 anos                                      0
dtype: int64
Tipos de datos:
Unnamed: 0                                                                                    int64
estados                                                                                      object
grado promedio de escolaridad de la poblacion de 15 y mas anos                              float64
poblacion de 6 a 14 anos que no especifico si sabe o no leer y escribir                     float64
poblacion de 6 a 14 anos que no sabe leer y escribir                                        float64
poblacion de 6 a 14 anos que sabe leer y escribir                                           float64
poblacion de 8 a 14 anos que sabe leer y escribir                                           float64
porcentaje de la poblacion de 12 a 14 anos que asiste a la escuela                          float64
porcentaje de la poblacion de 15 a 24 anos que asiste a la escuela                          float64
porcentaje de la poblacion de 15 anos y mas con instruccion media superior                  float64
porcentaje de la poblacion de 15 anos y mas con instruccion no especificada                 float64
porcentaje de la poblacion de 15 anos y mas con instruccion superior                        float64
porcentaje de la poblacion de 3 a 5 anos que asiste a la escuela                            float64
porcentaje de la poblacion de 3 anos y mas que asiste a la escuela                          float64
porcentaje de la poblacion de 3 anos y mas que no asiste a la escuela                       float64
porcentaje de la poblacion de 3 anos y mas que no especifico si asiste o no a la escuela    float64
porcentaje de la poblacion de 6 a 11 anos que asiste a la escuela                           float64
porcentaje de personas de 15 anos y mas alfabetas                                           float64
porcentaje de poblacion de 15 anos y mas con escolaridad basica                             float64
porcentaje de poblacion de 15 anos y mas sin escolaridad                                    float64
porcentaje de poblacion de 25 anos y mas alfabeta                                           float64
tasa de alfabetizacion de las personas de 15 a 24 anos                                      float64
dtype: object
Primeras 5 filas:
   Unnamed: 0              estados  \
0           0       aguascalientes
1           1      baja california
2           2  baja california sur
3           3             campeche
4           4              chiapas

   grado promedio de escolaridad de la poblacion de 15 y mas anos  \
0                                          10.349134
1                                          10.202655
2                                          10.342548
3                                           9.625130
4                                           7.783218

   poblacion de 6 a 14 anos que no especifico si sabe o no leer y escribir  \
0                                              726.0
1                                             4478.0
2                                              654.0
3                                              624.0
4                                             3217.0

   poblacion de 6 a 14 anos que no sabe leer y escribir  \
0                                            17770.0
1                                            52605.0
2                                            12780.0
3                                            14959.0
4                                           202707.0

   poblacion de 6 a 14 anos que sabe leer y escribir  \
0                                           216002.0
1                                           495977.0
2                                           107786.0
3                                           129890.0
4                                           866691.0

   poblacion de 8 a 14 anos que sabe leer y escribir  \
0                                           178165.0
1                                           421200.0
2                                            92208.0
3                                           109146.0
4                                           758465.0

   porcentaje de la poblacion de 12 a 14 anos que asiste a la escuela  \
0                                          91.220202
1                                          92.115839
2                                          94.308575
3                                          90.387050
4                                          81.668109

   porcentaje de la poblacion de 15 a 24 anos que asiste a la escuela  \





### Importante para coordinar entre nosotros!!
Nombres de la Base de Datos:  mexico_stats
Ambos usamos .str.upper().str.strip(), para tener los mismos nombres de columnas!

**HIPÓTESIS 1**

Los estados con mayor nivel educativo presentan mejores condiciones generales de vivienda.

Fuentes: Educación y Vivienda

In [161]:
limpieza(df_educacion, "estados")

,Unnamed: 0,estados,grado promedio de escolaridad de la poblacion de 15 y mas anos,poblacion de 6 a 14 anos que no especifico si sabe o no leer y escribir,poblacion de 6 a 14 anos que no sabe leer y escribir,poblacion de 6 a 14 anos que sabe leer y escribir,poblacion de 8 a 14 anos que sabe leer y escribir,porcentaje de la poblacion de 12 a 14 anos que asiste a la escuela,porcentaje de la poblacion de 15 a 24 anos que asiste a la escuela,porcentaje de la poblacion de 15 anos y mas con instruccion media superior,...,porcentaje de la poblacion de 3 a 5 anos que asiste a la escuela,porcentaje de la poblacion de 3 anos y mas que asiste a la escuela,porcentaje de la poblacion de 3 anos y mas que no asiste a la escuela,porcentaje de la poblacion de 3 anos y mas que no especifico si asiste o no a la escuela,porcentaje de la poblacion de 6 a 11 anos que asiste a la escuela,porcentaje de personas de 15 anos y mas alfabetas,porcentaje de poblacion de 15 anos y mas con escolaridad basica,porcentaje de poblacion de 15 anos y mas sin escolaridad,porcentaje de poblacion de 25 anos y mas alfabeta,tasa de alfabetizacion de las personas de 15 a 24 anos
0,0,AGUASCALIENTES,10.349134,726.0,17770.0,216002.0,178165.0,91.220202,44.585636,23.597657,...,59.998985,30.118064,69.846809,0.035127,96.819693,97.740215,49.342384,2.311956,97.240732,99.244364
1,1,BAJA CALIFORNIA,10.202655,4478.0,52605.0,495977.0,421200.0,92.115839,46.432459,27.979655,...,50.473512,27.031603,72.440792,0.527605,93.918915,97.748585,47.312054,2.763749,97.431439,98.824996
2,2,BAJA CALIFORNIA SUR,10.342548,654.0,12780.0,107786.0,92208.0,94.308575,46.561583,29.164156,...,62.809130,28.097047,71.779311,0.123642,96.303206,97.423488,44.509432,2.940832,96.979843,98.984964
3,3,CAMPECHE,9.625130,624.0,14959.0,129890.0,109146.0,90.387050,47.035518,22.269533,...,69.936532,28.819002,71.140248,0.040750,95.111582,94.004401,48.650782,6.605306,92.667551,98.686188
4,4,CHIAPAS,7.783218,3217.0,202707.0,866691.0,758465.0,81.668109,34.577641,18.241452,...,62.445034,30.328127,69.630576,0.041297,93.085947,86.216106,55.041021,13.292612,82.590402,96.293916
5,5,CHIHUAHUA,9.996942,3157.0,55258.0,528252.0,446913.0,90.129508,46.647876,23.805843,...,51.901349,28.152218,71.757229,0.090553,94.584187,97.096214,51.121366,3.067509,96.759248,98.228295
6,6,CIUDAD DE MEXICO,11.482039,6819.0,69130.0,984731.0,821303.0,93.436680,55.253356,27.639769,...,71.962996,25.115796,74.520291,0.363913,95.354873,98.152618,35.526744,2.007911,97.917138,99.219191
7,7,COAHUILA DE ZARAGOZA,10.431996,2000.0,39038.0,445183.0,367410.0,92.613240,45.268246,24.913570,...,60.179750,28.364087,71.571858,0.064055,96.118761,97.992861,49.116750,1.929559,97.741616,98.832265
8,8,COLIMA,10.046730,436.0,10818.0,97826.0,82735.0,91.056011,49.160875,23.966872,...,65.450115,28.013592,71.941396,0.045012,95.463643,96.496678,47.512548,3.996786,95.834193,98.905055
9,9,DURANGO,9.746069,1165.0,29229.0,279776.0,234171.0,90.943809,44.010323,22.676389,...,59.135083,29.890545,70.045141,0.064314,96.301403,97.059908,54.729391,2.851689,96.463639,98.941493
10,10,ESTADOS UNIDOS MEXICANOS,9.738050,102776.0,1871713.0,17554529.0,14797990.0,90.482150,45.318109,23.957897,...,63.339302,28.168562,71.711579,0.119859,95.481240,95.036853,49.336089,4.927503,93.970239,98.692417
11,11,GUANAJUATO,9.043787,5742.0,92904.0,885523.0,746550.0,88.260834,38.797396,21.025966,...,61.853404,27.802276,72.106934,0.090790,95.234752,94.532630,56.545560,6.328077,93.128060,98.937199
12,12,GUERRERO,8.372699,2230.0,87642.0,539703.0,464178.0,89.070311,41.816281,21.872415,...,75.247739,31.047128,68.910604,0.042268,95.963661,87.424392,50.897220,11.614024,84.056618,97.844725
13,13,HIDALGO,9.370759,1741.0,39154.0,459299.0,386244.0,94.165105,49.107781,23.003107,...,63.871528,29.594380,70.361103,0.044518,97.266152,93.253830,52.219610,6.062799,91.576035,99.093585
14,14,JALISCO,9.897353,6715.0,118430.0,1162772.0,975801.0,89.154051,43.519088,23.714334,...,60.252774,27.900892,72.006741,0.092368,94.834588,96.932285,50.346780,3.419122,96.331100,98.951935
15,15,MICHOACAN DE OCAMPO,8.595490,3221.0,92930.0,683724.0,580552.0,85.834481,38.795676,19.171875,...,64.112372,27.999010,71.888138,0.112851,94.869412,92.760355,56.610401,7.581132,91.124872,98.187864
16,16,MORELOS,9.844782,1432.0,24358.0,265391.0,222257.0,90.823544,45.841545,24.698057,...,61.975867,27.098635,72.829958,0.071407,95.693312,95.389412,48.892992,4.959385,94.429012,98.816302
17,17,MEXICO,10.082398,24003.0,179003.0,2360317.0,1975695.0,92.129194,48.394854,27.125567,...,60.646457,28.283854,71.589148,0.126998,95.301676,96.859119,47.960873,3.364810,96.206212,99.110181
18,18,NAYARIT,9.729524,670.0,21475.0,182759.0,154264.0,91.604494,46.929955,24.163447,...,64.046669,29.661738,70.297658,0.040605,96.073915,95.360910,49.235231,4.713696,94.433439,98.586411
19,19,NUEVO LEON,10.740959,5369.0,63377.0,760365.0,632305.0,93.219519,44.087045,25.475716,...,62.395341,26.845250,72.933115,0.221635,95.800930,98.093235,46.063457,1.779600,97.892225,98.795559
20,20,OAXACA,8.118536,2571.0,78056.0,626237.0,535135.0,89.347464,40.065021,18.538463,...,72.656723,28.991397,70.965155,0.043448,96.584416,88.086442,57.155689,10.198650,85.119026,98.318124
21,21,PUEBLA,9.160472,4658.0,102130.0,973929.0,819552.0,88.975498,44.789726,21.865941,...,69.118079,29.869704,70.085782,0.044513,96.084346,92.914032,52.165137,6.428064,91.034902,98.687859
22,22,QUERETARO,10.484599,1737.0,28115.0,326105.0,271269.0,91.344450,44.433911,23.149962,...,62.460491,28.074735,71.845475,0.079790,95.879797,96.342890,45.105726,4.081814,95.507367,99.156147
23,23,QUINTANA ROO,10.239289,1823.0,28565.0,247471.0,208825.0,91.452756,40.409166,28.733157,...,55.696389,26.334640,73.446938,0.218422,93.886456,96.646474,45.823496,3.594037,96.002249,98.845900
24,24,SAN LUIS POTOSI,9.613127,2496.0,35962.0,407589.0,341917.0,92.551051,44.424460,22.327073,...,74.104103,29.236453,70.663907,0.099640,96.555049,94.786413,51.897797,5.007988,93.535056,98.927203
25,25,SINALOA,10.223508,1806.0,36602.0,423134.0,353867.0,92.764184,53.330595,24.987027,...,62.723779,29.310976,70.634402,0.054621,96.289717,96.328717,44.103030,3.814710,95.570026,98.902561
26,26,SONORA,10.403197,2205.0,46085.0,408131.0,348731.0,93.448738,48.813950,26.747444,...,53.929240,28.075985,71.836749,0.087266,96.256390,97.765058,46.658474,2.307927,97.403805,98.997850
27,27,TABASCO,9.693396,1536.0,42302.0,358182.0,301997.0,92.639386,48.506476,25.433430,...,77.296397,30.905591,69.055169,0.039240,96.235954,94.814051,49.469678,4.523397,93.682238,98.663192
28,28,TAMAULIPAS,10.092209,2508.0,45839.0,492459.0,414056.0,91.567445,46.928226,25.775652,...,55.551194,27.149795,72.750208,0.099996,95.387932,97.189445,48.371051,3.070577,96.711754,98.898472
29,29,TLAXCALA,9.833170,952.0,16874.0,195624.0,163280.0,92.448665,46.178087,24.484261,...,61.430780,29.167160,70.785626,0.047214,96.383898,96.507161,52.445244,3.324895,95.658681,99.173698
30,30,VERACRUZ DE IGNACIO DE LA LLAVE,8.745629,3979.0,131758.0,1089659.0,925858.0,89.243271,45.216242,21.743559,...,61.214072,26.516041,73.450186,0.033772,95.422521,91.411294,51.724376,8.218466,89.582984,98.280265
31,31,YUCATAN,9.594718,1189.0,32779.0,302990.0,254508.0,92.953538,47.534656,22.552535,...,72.857446,28.029347,71.892852,0.077800,97.139738,93.842523,49.843332,5.293297,92.374315,98.923180
32,32,ZACATECAS,9.245563,917.0,23079.0,251052.0,209433.0,90.477464,43.618620,19.005817,...,67.023698,30.269015,69.687182,0.043803,96.702698,96.071464,59.436527,3.937748,95.141063,99.122109

In [162]:
limpieza(df_vivienda, "estados")

,Unnamed: 0,estados,disponibilidad de bienes: automovil o camioneta,disponibilidad de bienes: bicicleta como medio de transporte,disponibilidad de bienes: lavadora,disponibilidad de bienes: motocicleta o motoneta,disponibilidad de bienes: refrigerador,disponibilidad de servicios en la vivienda: cisterna o aljibe,disponibilidad de servicios en la vivienda: tinaco,porcentaje de viviendas con agua entubada dentro de la vivienda,...,viviendas moviles,viviendas particulares habitadas que disponen de computadora,viviendas particulares habitadas que disponen de drenaje,viviendas particulares habitadas que disponen de energia electrica,viviendas particulares habitadas que disponen de excusado o sanitario,viviendas que son casa independiente o local no construido para habitacion,viviendas que son cuarto de azotea,viviendas que son departamento en edificio o vivienda en vecindad,viviendas que son refugio,"viviendas, de cada cien que cuentan con electricidad, agua y drenaje"
0,0,AGUASCALIENTES,62.273096,27.396110,86.969024,11.824015,94.605853,39.512086,76.656624,95.267751,...,14,177149,383148,384361,383608,339447,11,14912,83,98.697187
1,1,BAJA CALIFORNIA,69.930111,13.559700,82.730712,5.781599,94.928997,6.220314,10.679562,92.908462,...,2754,576454,1101573,1132622,1136708,829493,63,80869,460,94.837234
2,2,BAJA CALIFORNIA SUR,67.394865,11.886797,68.530820,7.561477,91.831065,27.004320,81.764136,82.290962,...,339,108948,231864,235285,236365,193490,11,17440,119,92.295641
3,3,CAMPECHE,34.494526,23.887004,77.321200,24.728980,84.017047,20.343862,72.400383,64.692704,...,5,87769,245656,255453,250810,211930,8,5739,48,90.885440
4,4,CHIAPAS,21.122835,13.912566,43.779750,11.356756,64.581097,30.825418,49.512983,52.369215,...,12,212970,1226871,1317473,1304646,1139352,14,27750,499,83.791841
5,5,CHIHUAHUA,68.427459,10.984339,85.945240,6.741094,94.451639,3.708047,35.620882,93.590031,...,139,488724,1105223,1125620,1127598,1038624,17,10259,228,95.690740
6,6,CIUDAD DE MEXICO,46.848904,19.996919,82.822930,7.795670,93.748276,60.514634,84.616824,90.528452,...,102,1649403,2744306,2746872,2743801,806142,3732,890555,436,98.678715
7,7,COAHUILA DE ZARAGOZA,61.583405,18.552998,86.641748,7.512593,96.742551,13.608064,66.468246,92.506401,...,36,367970,886984,895921,893896,835677,4,4480,57,97.710033
8,8,COLIMA,52.045309,18.377089,75.241229,16.271059,93.442558,25.124865,74.472388,92.398154,...,17,90200,224708,224634,224740,204805,1,4798,73,98.423900
9,9,DURANGO,55.472663,26.001841,77.323773,11.910565,91.103982,23.688714,77.692632,79.862393,...,18,169760,467143,483167,477957,459875,6,3088,60,93.679305
10,10,ESTADOS UNIDOS MEXICANOS,46.479608,21.245242,72.846429,12.024554,87.639304,27.456413,64.368058,77.588935,...,5307,13204680,33564054,34805976,34478503,25997519,4743,2282084,7795,92.931307
11,11,GUANAJUATO,50.699758,36.726118,80.600997,18.573870,92.426589,28.605772,80.737856,81.540401,...,63,550020,1531196,1573803,1544269,1338611,46,51441,284,94.455697
12,12,GUERRERO,24.958696,9.274364,45.807238,10.949383,80.654242,30.336100,58.238447,49.357918,...,16,191317,824631,920890,851128,726430,56,43446,258,79.666890
13,13,HIDALGO,44.283327,22.481684,60.071276,10.055619,82.756856,22.557400,76.270287,66.872159,...,29,261093,812005,847206,832403,644906,23,27496,180,92.018041
14,14,JALISCO,56.016297,25.979790,83.059755,16.813988,94.827120,38.819500,77.221309,94.559871,...,133,1034977,2294972,2305305,2297969,1848751,80,168582,485,97.963351
15,15,MICHOACAN DE OCAMPO,48.191124,21.652158,74.252927,18.318724,88.872721,33.732984,77.510408,78.308929,...,36,374189,1227072,1273522,1259821,1064788,25,33193,305,93.616590
16,16,MORELOS,42.002533,18.243362,66.146249,13.790686,90.190341,46.477208,79.237241,66.090266,...,5,204850,548632,556409,552616,378804,28,26756,264,94.535165
17,17,MEXICO,42.607359,26.021264,72.535686,10.215415,85.788931,38.651452,77.877950,75.109468,...,140,1851854,4440083,4543258,4493626,2808064,265,326673,617,95.330142
18,18,NAYARIT,45.606936,23.333213,73.505536,22.823325,89.579509,30.950430,67.326892,75.609241,...,50,125693,346187,353523,348061,309295,5,11345,234,94.432333
19,19,NUEVO LEON,58.499008,11.527392,87.064132,5.784612,96.432170,2.565350,14.330501,97.066496,...,65,791493,1633334,1645742,1645401,1431527,25,37786,77,98.245495
20,20,OAXACA,24.850202,17.813229,47.341792,13.140574,70.405207,23.153267,59.973205,40.620816,...,40,228976,901346,1093796,1090470,850290,27,27180,732,74.198687
21,21,PUEBLA,35.441912,26.362090,58.641456,8.554309,74.596204,42.381621,72.815145,60.043933,...,24,505613,1625891,1695462,1681527,1207733,106,123683,422,91.568123
22,22,QUERETARO,58.797986,17.321554,75.259139,7.637703,91.530956,17.078293,76.997915,85.237928,...,13,320239,648556,661924,652696,544037,18,23833,242,95.488589
23,23,QUINTANA ROO,38.378120,26.183891,74.711561,18.653113,87.168451,24.952449,90.603772,85.484843,...,22,213846,556294,562025,560208,390339,30,87534,68,95.266005
24,24,SAN LUIS POTOSI,50.029415,30.132333,74.721789,16.862915,87.821573,42.840870,71.657627,69.559815,...,25,263244,701951,761594,757631,654810,9,23346,211,86.090700
25,25,SINALOA,57.348835,22.109955,77.082706,18.671090,95.015707,6.059729,49.100268,86.796435,...,98,326641,827096,847989,836938,740743,15,20832,249,95.890891
26,26,SONORA,64.408966,17.784709,76.119958,7.914990,94.202491,6.083210,43.991989,89.239896,...,945,380911,832304,864910,864745,765687,3,10732,261,94.007830
27,27,TABASCO,27.983533,21.363050,75.347277,17.443896,86.533450,10.046732,43.691865,66.882029,...,19,169377,651942,663718,653039,445738,17,30959,82,91.921746
28,28,TAMAULIPAS,58.769281,15.622327,79.796326,6.605528,94.220374,5.565889,38.449321,89.446091,...,74,380911,1011145,1058620,1060896,853700,24,36247,96,94.008698
29,29,TLAXCALA,39.400330,31.785226,58.120157,8.274723,75.750981,28.804765,82.911771,70.470210,...,2,96501,329263,333902,330821,255879,3,11174,49,95.644574
30,30,VERACRUZ DE IGNACIO DE LA LLAVE,28.947727,12.680897,62.962103,13.445340,81.727691,14.560604,55.165694,61.619191,...,34,617769,2171324,2352018,2340348,1683236,63,90242,484,85.246251
31,31,YUCATAN,38.456737,39.389137,74.872090,23.898360,84.140830,16.817601,79.444122,78.131760,...,21,246448,605627,649791,614363,595767,3,4994,90,91.348395
32,32,ZACATECAS,60.432593,30.831202,84.220023,20.523082,92.350027,19.580205,89.094950,77.491674,...,17,139371,425727,439161,429398,399549,5,4720,42,94.901676

In [163]:
df_vivienda.columns

Index(['Unnamed: 0', 'estados',
       'disponibilidad de bienes: automovil o camioneta',
       'disponibilidad de bienes: bicicleta como medio de transporte',
       'disponibilidad de bienes: lavadora',
       'disponibilidad de bienes: motocicleta o motoneta',
       'disponibilidad de bienes: refrigerador',
       'disponibilidad de servicios en la vivienda: cisterna o aljibe',
       'disponibilidad de servicios en la vivienda: tinaco',
       'porcentaje de viviendas con agua entubada dentro de la vivienda',
       'porcentaje de viviendas con electricidad',
       'porcentaje de viviendas con piso de tierra',
       'porcentaje de viviendas con techos de materiales resistentes',
       'porcentaje de viviendas particulares habitadas con disponibilidad de drenaje',
       'porcentaje de viviendas particulares habitadas con disponibilidad de excusado',
       'porcentaje de viviendas particulares habitadas propias',
       'porcentaje de viviendas particulares habitadas que disponen de internet',
       'porcentaje de viviendas particulares habitadas que disponen de computadora',
       'porcentaje de viviendas particulares habitadas que disponen de television de paga',
       'porcentaje de viviendas particulares habitadas que disponen de telefono celular',
       'porcentaje de viviendas particulares habitadas que disponen de telefono fijo',
       'promedio de ocupantes en viviendas particulares habitadas',
       'promedio de ocupantes por cuarto (indice de hacinamiento)',
       'tasa de crecimiento promedio anual de las viviendas particulares habitadas',
       'total de viviendas particulares habitadas', 'viviendas colectivas',
       'viviendas habitadas', 'viviendas moviles',
       'viviendas particulares habitadas que disponen de computadora',
       'viviendas particulares habitadas que disponen de drenaje',
       'viviendas particulares habitadas que disponen de energia electrica',
       'viviendas particulares habitadas que disponen de excusado o sanitario',
       'viviendas que son casa independiente o local no construido para habitacion',
       'viviendas que son cuarto de azotea',
       'viviendas que son departamento en edificio o vivienda en vecindad',
       'viviendas que son refugio',
       'viviendas, de cada cien que cuentan con electricidad, agua y drenaje'],
      dtype='object')

In [164]:
df_h1_1 = df_educacion[["estados", "porcentaje de la poblacion de 15 anos y mas con instruccion media superior"]]

In [165]:
df_h1_1

,estados,porcentaje de la poblacion de 15 anos y mas con instruccion media superior
0,AGUASCALIENTES,23.597657
1,BAJA CALIFORNIA,27.979655
2,BAJA CALIFORNIA SUR,29.164156
3,CAMPECHE,22.269533
4,CHIAPAS,18.241452
5,CHIHUAHUA,23.805843
6,CIUDAD DE MEXICO,27.639769
7,COAHUILA DE ZARAGOZA,24.913570
8,COLIMA,23.966872
9,DURANGO,22.676389
10,ESTADOS UNIDOS MEXICANOS,23.957897
11,GUANAJUATO,21.025966
12,GUERRERO,21.872415
13,HIDALGO,23.003107
14,JALISCO,23.714334
15,MICHOACAN DE OCAMPO,19.171875
16,MORELOS,24.698057
17,MEXICO,27.125567
18,NAYARIT,24.163447
19,NUEVO LEON,25.475716
20,OAXACA,18.538463
21,PUEBLA,21.865941
22,QUERETARO,23.149962
23,QUINTANA ROO,28.733157
24,SAN LUIS POTOSI,22.327073
25,SINALOA,24.987027
26,SONORA,26.747444
27,TABASCO,25.433430
28,TAMAULIPAS,25.775652
29,TLAXCALA,24.484261
30,VERACRUZ DE IGNACIO DE LA LLAVE,21.743559
31,YUCATAN,22.552535
32,ZACATECAS,19.005817

In [166]:
df_vivienda["indice_vivienda"] = (
    df_vivienda[
        [
            "porcentaje de viviendas con electricidad",
            "porcentaje de viviendas particulares habitadas con disponibilidad de drenaje",
            "porcentaje de viviendas particulares habitadas con disponibilidad de excusado"
        ]
    ].mean(axis=1)
)

In [167]:
df_h1_2 = df_vivienda[["estados", "porcentaje de viviendas con electricidad", "porcentaje de viviendas particulares habitadas con disponibilidad de excusado", "porcentaje de viviendas particulares habitadas con disponibilidad de drenaje", "indice_vivienda"]]

In [168]:
df_h1_2

,estados,porcentaje de viviendas con electricidad,porcentaje de viviendas particulares habitadas con disponibilidad de excusado,porcentaje de viviendas particulares habitadas con disponibilidad de drenaje,indice_vivienda
0,AGUASCALIENTES,99.572551,99.377479,99.258311,99.402780
1,BAJA CALIFORNIA,98.983702,99.340791,96.270224,98.198239
2,BAJA CALIFORNIA SUR,98.298365,98.749572,96.869125,97.972354
3,CAMPECHE,98.167711,96.383459,94.402835,96.318001
4,CHIAPAS,97.727773,96.776290,91.007080,95.170381
5,CHIHUAHUA,98.291542,98.464266,96.510433,97.755414
6,CIUDAD DE MEXICO,99.807534,99.695949,99.714298,99.739260
7,COAHUILA DE ZARAGOZA,99.516370,99.291439,98.523673,99.110494
8,COLIMA,99.200247,99.247058,99.232926,99.226744
9,DURANGO,97.977256,96.920765,94.727888,96.541970
10,ESTADOS UNIDOS MEXICANOS,99.001843,98.070381,95.469330,97.513852
11,GUANAJUATO,99.303965,97.440426,96.615545,97.786645
12,GUERRERO,97.968168,90.546592,87.727729,92.080829
13,HIDALGO,98.992323,97.262657,94.879240,97.044740
14,JALISCO,99.033892,98.718744,98.589996,98.780877
15,MICHOACAN DE OCAMPO,99.309950,98.241539,95.687753,97.746414
16,MORELOS,99.518335,98.839925,98.127354,98.828538
17,MEXICO,99.602686,98.514595,97.340761,98.486014
18,NAYARIT,98.179288,96.662399,96.141958,96.994548
19,NUEVO LEON,99.488756,99.468141,98.738664,99.231854
20,OAXACA,97.499657,97.203181,80.344896,91.682578
21,PUEBLA,99.130636,98.315882,95.062944,97.503154
22,QUERETARO,99.150384,97.768111,97.147976,98.022157
23,QUINTANA ROO,97.892616,97.576133,96.894399,97.454383
24,SAN LUIS POTOSI,98.470311,97.957914,90.758768,95.728998
25,SINALOA,99.363503,98.068597,96.915356,98.115819
26,SONORA,98.921359,98.902488,95.192150,97.671999
27,TABASCO,99.286746,97.689256,97.525154,98.167052
28,TAMAULIPAS,99.196306,99.409575,94.747736,97.784539
29,TLAXCALA,97.931686,97.028045,96.571092,97.176941
30,VERACRUZ DE IGNACIO DE LA LLAVE,98.606151,98.116897,91.030724,95.917924
31,YUCATAN,98.916742,93.523589,92.193720,94.878017
32,ZACATECAS,99.298607,97.091097,96.261048,97.550251

In [169]:
df_h1_3 = df_vivienda[["estados", "indice_vivienda"]]

In [170]:
df_h1_3

                            estados  indice_vivienda
0                    AGUASCALIENTES        99.402780
1                   BAJA CALIFORNIA        98.198239
2               BAJA CALIFORNIA SUR        97.972354
3                          CAMPECHE        96.318001
4                           CHIAPAS        95.170381
5                         CHIHUAHUA        97.755414
6                  CIUDAD DE MEXICO        99.739260
7              COAHUILA DE ZARAGOZA        99.110494
8                            COLIMA        99.226744
9                           DURANGO        96.541970
10         ESTADOS UNIDOS MEXICANOS        97.513852
11                       GUANAJUATO        97.786645
12                         GUERRERO        92.080829
13                          HIDALGO        97.044740
14                          JALISCO        98.780877
15              MICHOACAN DE OCAMPO        97.746414
16                          MORELOS        98.828538
17                           MEXICO        98.486014
18                          NAYARIT        96.994548
19                       NUEVO LEON        99.231854
20                           OAXACA        91.682578
21                           PUEBLA        97.503154
22                        QUERETARO        98.022157
23                     QUINTANA ROO        97.454383
24                  SAN LUIS POTOSI        95.728998
25                          SINALOA        98.115819
26                           SONORA        97.671999
27                          TABASCO        98.167052
28                       TAMAULIPAS        97.784539
29                         TLAXCALA        97.176941
30  VERACRUZ DE IGNACIO DE LA LLAVE        95.917924
31                          YUCATAN        94.878017
32                        ZACATECAS        97.550251

In [171]:
#tabla final y renombrada para SQL

df_h1 = df_h1_1.merge (
    df_h1_3,
    on = "estados",
    how = "inner"
)

In [172]:
df_h1

,estados,porcentaje de la poblacion de 15 anos y mas con instruccion media superior,indice_vivienda
0,AGUASCALIENTES,23.597657,99.402780
1,BAJA CALIFORNIA,27.979655,98.198239
2,BAJA CALIFORNIA SUR,29.164156,97.972354
3,CAMPECHE,22.269533,96.318001
4,CHIAPAS,18.241452,95.170381
5,CHIHUAHUA,23.805843,97.755414
6,CIUDAD DE MEXICO,27.639769,99.739260
7,COAHUILA DE ZARAGOZA,24.913570,99.110494
8,COLIMA,23.966872,99.226744
9,DURANGO,22.676389,96.541970
10,ESTADOS UNIDOS MEXICANOS,23.957897,97.513852
11,GUANAJUATO,21.025966,97.786645
12,GUERRERO,21.872415,92.080829
13,HIDALGO,23.003107,97.044740
14,JALISCO,23.714334,98.780877
15,MICHOACAN DE OCAMPO,19.171875,97.746414
16,MORELOS,24.698057,98.828538
17,MEXICO,27.125567,98.486014
18,NAYARIT,24.163447,96.994548
19,NUEVO LEON,25.475716,99.231854
20,OAXACA,18.538463,91.682578
21,PUEBLA,21.865941,97.503154
22,QUERETARO,23.149962,98.022157
23,QUINTANA ROO,28.733157,97.454383
24,SAN LUIS POTOSI,22.327073,95.728998
25,SINALOA,24.987027,98.115819
26,SONORA,26.747444,97.671999
27,TABASCO,25.433430,98.167052
28,TAMAULIPAS,25.775652,97.784539
29,TLAXCALA,24.484261,97.176941
30,VERACRUZ DE IGNACIO DE LA LLAVE,21.743559,95.917924
31,YUCATAN,22.552535,94.878017
32,ZACATECAS,19.005817,97.550251

Comprobaciones y visualización:

**HIPÓTESIS 2**

Los estados con mayor presión demográfica presentan mayores niveles de hacinamiento en la vivienda.

In [173]:
limpieza(df_poblacion, "estados")

,Unnamed: 0,estados,densidad de poblacion,edad mediana,edad mediana hombres,edad mediana mujeres,poblacion a mitad de ano,poblacion de 0 a 4 anos,poblacion de 0 a 4 anos. hombres,poblacion de 0 a 4 anos. mujeres,...,porcentaje de mujeres de 80 a 84 anos,porcentaje de mujeres de 85 anos y mas,porcentaje de poblacion de 15 a 29 anos,porcentaje de poblacion de 60 y mas anos,porcentaje de poblacion en localidades de menos de 2 500 habitantes,porcentaje de poblacion que se considera afrodescendiente,promedio de ocupantes por dormitorio,relacion de dependencia,relacion hombres-mujeres,indice de envejecimiento
0,0,AGUASCALIENTES,253.862309,27.0,26.0,28.0,NaN,124430.0,62978.0,61452.0,...,0.406503,0.370199,26.501879,10.208279,15.915747,1.573014,1.655951,51.204883,95.576905,37.740884
1,1,BAJA CALIFORNIA,52.750459,30.0,30.0,30.0,NaN,266301.0,134410.0,131891.0,...,0.376090,0.300362,26.171074,10.085671,6.335334,1.707659,1.618358,42.604859,101.721123,43.185780
2,2,BAJA CALIFORNIA SUR,10.803055,29.0,29.0,30.0,NaN,62455.0,31479.0,30976.0,...,0.316509,0.278251,25.296846,9.515168,8.885624,3.297652,1.732963,44.726513,103.390750,38.369373
3,3,CAMPECHE,16.149681,29.0,29.0,30.0,NaN,78935.0,39817.0,39118.0,...,0.413173,0.395533,24.294073,11.104798,24.966096,2.080975,2.049989,50.717568,96.927394,42.558415
4,4,CHIAPAS,75.620723,24.0,24.0,25.0,NaN,574152.0,288911.0,285241.0,...,0.348043,0.338199,25.661840,9.205193,50.815177,1.019729,2.216050,62.383978,95.350968,28.685604
5,5,CHIHUAHUA,15.124002,29.0,29.0,30.0,NaN,291286.0,147610.0,143676.0,...,0.458301,0.348452,25.137686,11.242505,12.502389,1.628010,1.585707,48.599632,98.187280,44.551709
6,6,CIUDAD DE MEXICO,6163.320469,35.0,34.0,36.0,NaN,479904.0,242877.0,237027.0,...,0.775908,0.747822,23.013150,16.212690,0.698289,2.029480,1.583529,40.991535,91.673495,90.249478
7,7,COAHUILA DE ZARAGOZA,20.757782,29.0,28.0,29.0,NaN,279912.0,141812.0,138100.0,...,0.434692,0.347098,24.820449,11.097741,8.349003,1.461053,1.651970,50.502912,98.772473,42.283811
8,8,COLIMA,129.981520,30.0,30.0,31.0,NaN,52313.0,26532.0,25781.0,...,0.514919,0.471324,24.408069,12.551770,9.938870,1.855916,1.669457,47.506623,97.263256,52.873304
9,9,DURANGO,14.855625,27.0,27.0,28.0,NaN,167600.0,85081.0,82519.0,...,0.490195,0.406346,25.017286,11.450170,27.625024,0.944588,1.702154,56.014818,97.529813,40.762088
10,10,ESTADOS UNIDOS MEXICANOS,64.271664,29.0,28.0,30.0,1.270916e+08,10047365.0,5077482.0,4969883.0,...,0.518171,0.481613,24.830307,12.043025,21.413115,2.044386,1.765827,50.293411,95.247577,47.686476
11,11,GUANAJUATO,201.489845,28.0,27.0,29.0,NaN,538846.0,272745.0,266101.0,...,0.485972,0.476353,25.907015,11.070459,27.922725,1.764345,1.767031,51.889024,94.511052,41.656620
12,12,GUERRERO,55.674754,27.0,26.0,28.0,NaN,335458.0,169332.0,166126.0,...,0.604407,0.604208,24.521619,12.578000,40.346515,8.583735,2.104385,62.161710,92.420899,42.855141
13,13,HIDALGO,148.060870,30.0,28.0,30.0,NaN,238189.0,120314.0,117875.0,...,0.534576,0.532466,24.087822,12.458457,42.699153,1.579485,1.735091,52.195658,92.501664,48.479438
14,14,JALISCO,106.216119,29.0,28.0,30.0,NaN,670983.0,339122.0,331861.0,...,0.512528,0.470056,25.176893,12.041376,12.054430,1.673137,1.650243,50.663596,96.441134,47.485277
15,15,MICHOACAN DE OCAMPO,81.040141,28.0,27.0,29.0,NaN,429837.0,216825.0,213012.0,...,0.583333,0.588517,24.566162,12.679851,28.898663,1.546144,1.766625,56.914716,94.425231,46.344287
16,16,MORELOS,404.091463,30.0,29.0,32.0,NaN,145439.0,73680.0,71759.0,...,0.617232,0.612360,24.530695,13.899670,18.146557,1.944236,1.725617,50.128181,93.158828,58.457457
17,17,MEXICO,760.227530,30.0,29.0,31.0,NaN,1276386.0,644777.0,631609.0,...,0.437048,0.392553,25.078327,11.301416,12.584572,1.743507,1.785036,46.367870,94.396281,46.565328
18,18,NAYARIT,44.350766,29.0,28.0,30.0,NaN,103601.0,52602.0,50999.0,...,0.542337,0.492592,23.843544,12.751886,27.552742,0.843090,1.705008,55.508099,98.250901,47.568892
19,19,NUEVO LEON,90.161847,30.0,29.0,30.0,NaN,454909.0,229807.0,225102.0,...,0.490452,0.406725,25.390085,11.342609,4.116145,1.687336,1.661358,46.054635,99.912148,47.345249
20,20,OAXACA,44.072675,28.0,27.0,29.0,NaN,359853.0,181303.0,178550.0,...,0.668096,0.674306,23.676833,13.354573,50.544535,4.706366,1.987156,59.735667,91.542132,48.002570
21,21,PUEBLA,191.878340,28.0,26.0,29.0,NaN,578779.0,292266.0,286513.0,...,0.520736,0.521497,25.938537,11.332678,26.515408,1.730825,1.910445,53.651963,92.315645,41.860916
22,22,QUERETARO,202.596169,29.0,28.0,30.0,NaN,187893.0,94523.0,93370.0,...,0.412552,0.403956,26.308760,10.171817,21.051887,1.833929,1.639834,45.898682,95.475002,41.171762
23,23,QUINTANA ROO,41.560789,28.0,28.0,29.0,NaN,147731.0,75158.0,72573.0,...,0.209639,0.170281,27.054709,7.134167,9.727043,2.812994,1.903903,41.540893,101.690501,28.651509
24,24,SAN LUIS POTOSI,46.162080,29.0,28.0,30.0,NaN,230931.0,116331.0,114600.0,...,0.614471,0.593870,25.064239,12.821237,32.791119,1.960737,1.692641,53.285295,94.664589,49.776994
25,25,SINALOA,52.766039,30.0,29.0,30.0,NaN,236236.0,120045.0,116191.0,...,0.545704,0.452538,24.825025,13.010105,24.272376,1.394014,1.789247,50.639143,97.564629,52.686691
26,26,SONORA,16.419082,30.0,29.0,30.0,NaN,218345.0,110604.0,107741.0,...,0.486215,0.386797,24.832986,12.181849,12.196622,1.477500,1.705260,48.481655,99.969714,49.513778
27,27,TABASCO,97.149528,29.0,28.0,29.0,NaN,206877.0,104669.0,102208.0,...,0.404793,0.403461,24.046871,10.722515,41.458746,1.563016,1.969523,52.446730,95.503720,39.399021
28,28,TAMAULIPAS,43.959693,30.0,30.0,31.0,NaN,271340.0,137176.0,134164.0,...,0.537154,0.458990,24.027698,12.101567,9.748436,1.236516,1.727061,48.974523,96.904713,48.905210
29,29,TLAXCALA,336.027000,28.0,27.0,29.0,NaN,110460.0,55685.0,54775.0,...,0.473204,0.514579,25.710184,11.034816,16.612347,1.347305,1.854472,51.133975,93.768567,41.931386
30,30,VERACRUZ DE IGNACIO DE LA LLAVE,112.255486,31.0,30.0,32.0,NaN,600253.0,303113.0,297140.0,...,0.647094,0.618021,23.108795,14.367494,38.275371,2.672036,1.813186,52.398999,92.387358,59.048918
31,31,YUCATAN,58.720617,30.0,29.0,31.0,NaN,175986.0,89335.0,86651.0,...,0.516037,0.447028,25.327675,12.474095,14.048312,2.998796,1.970818,48.191292,96.583148,52.433129
32,32,ZACATECAS,21.549393,28.0,27.0,29.0,NaN,151745.0,76563.0,75182.0,...,0.581196,0.572308,24.015541,12.329906,36.744038,0.983332,1.698140,58.892105,95.184338,43.543430

In [174]:
df_poblacion.rename(
    columns={"densidad de poblacion": "densidad_poblacion"},
    inplace=True
)

In [175]:
df_sel_poblacion = df_poblacion[["estados", "densidad_poblacion"]]
df_sel_poblacion

                            estados  densidad_poblacion
0                    AGUASCALIENTES          253.862309
1                   BAJA CALIFORNIA           52.750459
2               BAJA CALIFORNIA SUR           10.803055
3                          CAMPECHE           16.149681
4                           CHIAPAS           75.620723
5                         CHIHUAHUA           15.124002
6                  CIUDAD DE MEXICO         6163.320469
7              COAHUILA DE ZARAGOZA           20.757782
8                            COLIMA          129.981520
9                           DURANGO           14.855625
10         ESTADOS UNIDOS MEXICANOS           64.271664
11                       GUANAJUATO          201.489845
12                         GUERRERO           55.674754
13                          HIDALGO          148.060870
14                          JALISCO          106.216119
15              MICHOACAN DE OCAMPO           81.040141
16                          MORELOS          404.091463
17                           MEXICO          760.227530
18                          NAYARIT           44.350766
19                       NUEVO LEON           90.161847
20                           OAXACA           44.072675
21                           PUEBLA          191.878340
22                        QUERETARO          202.596169
23                     QUINTANA ROO           41.560789
24                  SAN LUIS POTOSI           46.162080
25                          SINALOA           52.766039
26                           SONORA           16.419082
27                          TABASCO           97.149528
28                       TAMAULIPAS           43.959693
29                         TLAXCALA          336.027000
30  VERACRUZ DE IGNACIO DE LA LLAVE          112.255486
31                          YUCATAN           58.720617
32                        ZACATECAS           21.549393

In [176]:
df_vivienda.rename(
    columns={"promedio de ocupantes por cuarto (indice de hacinamiento)": "indice_hacinamiento"},
    inplace=True
)

In [177]:
df_sel_vivienda = df_vivienda[["estados", "indice_hacinamiento"]]
df_sel_vivienda

                            estados  indice_hacinamiento
0                    AGUASCALIENTES             0.889100
1                   BAJA CALIFORNIA             0.898141
2               BAJA CALIFORNIA SUR             1.011096
3                          CAMPECHE             1.123364
4                           CHIAPAS             1.322805
5                         CHIHUAHUA             0.804774
6                  CIUDAD DE MEXICO             0.804542
7              COAHUILA DE ZARAGOZA             0.838291
8                            COLIMA             0.956519
9                           DURANGO             0.907989
10         ESTADOS UNIDOS MEXICANOS             0.958611
11                       GUANAJUATO             1.018931
12                         GUERRERO             1.294076
13                          HIDALGO             0.927177
14                          JALISCO             0.934264
15              MICHOACAN DE OCAMPO             1.016838
16                          MORELOS             0.956822
17                           MEXICO             0.948516
18                          NAYARIT             0.936082
19                       NUEVO LEON             0.849585
20                           OAXACA             1.138123
21                           PUEBLA             1.033391
22                        QUERETARO             0.911721
23                     QUINTANA ROO             1.137585
24                  SAN LUIS POTOSI             0.926317
25                          SINALOA             0.970587
26                           SONORA             0.884217
27                          TABASCO             1.098303
28                       TAMAULIPAS             0.910469
29                         TLAXCALA             0.996095
30  VERACRUZ DE IGNACIO DE LA LLAVE             0.977280
31                          YUCATAN             1.051168
32                        ZACATECAS             0.907704

In [178]:
# tabla final y renombrada para SQL

df_h2 = df_sel_poblacion.merge(
    df_sel_vivienda,
    on="estados",
    how="inner"
)

In [179]:
df_h2

                            estados  densidad_poblacion  indice_hacinamiento
0                    AGUASCALIENTES          253.862309             0.889100
1                   BAJA CALIFORNIA           52.750459             0.898141
2               BAJA CALIFORNIA SUR           10.803055             1.011096
3                          CAMPECHE           16.149681             1.123364
4                           CHIAPAS           75.620723             1.322805
5                         CHIHUAHUA           15.124002             0.804774
6                  CIUDAD DE MEXICO         6163.320469             0.804542
7              COAHUILA DE ZARAGOZA           20.757782             0.838291
8                            COLIMA          129.981520             0.956519
9                           DURANGO           14.855625             0.907989
10         ESTADOS UNIDOS MEXICANOS           64.271664             0.958611
11                       GUANAJUATO          201.489845             1.018931
12                         GUERRERO           55.674754             1.294076
13                          HIDALGO          148.060870             0.927177
14                          JALISCO          106.216119             0.934264
15              MICHOACAN DE OCAMPO           81.040141             1.016838
16                          MORELOS          404.091463             0.956822
17                           MEXICO          760.227530             0.948516
18                          NAYARIT           44.350766             0.936082
19                       NUEVO LEON           90.161847             0.849585
20                           OAXACA           44.072675             1.138123
21                           PUEBLA          191.878340             1.033391
22                        QUERETARO          202.596169             0.911721
23                     QUINTANA ROO           41.560789             1.137585
24                  SAN LUIS POTOSI           46.162080             0.926317
25                          SINALOA           52.766039             0.970587
26                           SONORA           16.419082             0.884217
27                          TABASCO           97.149528             1.098303
28                       TAMAULIPAS           43.959693             0.910469
29                         TLAXCALA          336.027000             0.996095
30  VERACRUZ DE IGNACIO DE LA LLAVE          112.255486             0.977280
31                          YUCATAN           58.720617             1.051168
32                        ZACATECAS           21.549393             0.907704

Comprobaciones y visualización:

# --- CARGA A MYSQL ---

In [180]:
# --- CARGA A MYSQL ---
engine = create_engine('mysql+pymysql://root:30802043@localhost:3306/mexico_stats')
df_h3.to_sql('hipotesis_3', con=engine, if_exists='replace', index=False)

33

# 📊 Hipótesis 1 (Bienestar - Julio B.)
        Objetivo: Ver si a mayor educación, mejores servicios (luz, agua) en la vivienda.

In [181]:
try:
    # 1. Seleccionar columnas usando los nombres exactos que nos dio el error
    col_edu = 'grado promedio de escolaridad de la poblacion de 15 y mas anos'
    col_agua = 'porcentaje de viviendas con agua entubada dentro de la vivienda'
    col_luz = 'viviendas particulares habitadas que disponen de energia electrica'

    # 2. Construir el DataFrame
    df_h1 = df_educacion[['estados', col_edu]].copy()
    df_h1['agua_entubada'] = df_vivienda[col_agua]
    df_h1['energia_electrica'] = df_vivienda[col_luz]
    
    # 3. Limpieza y Renombrado
    df_h1.columns = ['estados', 'escolaridad_promedio', 'agua_entubada', 'energia_electrica']
    df_h1['estados'] = df_h1['estados'].str.strip().str.upper()

    # 4. Carga a MySQL
    engine = create_engine('mysql+pymysql://root:30802043@localhost:3306/mexico_stats')
    df_h1.to_sql('hipotesis_1', con=engine, if_exists='replace', index=False)
    
    print("✅ Hipótesis 1 (Julio) cargada con éxito.")
    display(df_h1.head(3))

except Exception as e:
    print(f"❌ Error en Hipótesis 1: {e}")

✅ Hipótesis 1 (Julio) cargada con éxito.

               estados  escolaridad_promedio  agua_entubada  energia_electrica
0       AGUASCALIENTES             10.349134      95.267751             384361
1      BAJA CALIFORNIA             10.202655      92.908462            1132622
2  BAJA CALIFORNIA SUR             10.342548      82.290962             235285

# 📊 Etapa 2: Hipótesis 2 (Presión Demográfica - Julio B.)
     Objetivo: Ver si los estados con más gente tienen más hacinamiento.

In [182]:
try:
    # 1. Seleccionar columnas
    col_pob = 'poblacion total'
    # Usamos la columna de ocupantes que aparece en tu lista
    col_hac = 'promedio de ocupantes en viviendas particulares habitadas'

    df_h2 = df_poblacion[['estados', col_pob]].copy()
    df_h2['indice_hacinamiento'] = df_vivienda[col_hac]
    
    # 2. Limpieza y Renombrado
    df_h2.columns = ['estados', 'pob_total', 'indice_hacinamiento']
    df_h2['estados'] = df_h2['estados'].str.strip().str.upper()

    # 3. Carga a MySQL
    engine = create_engine('mysql+pymysql://root:30802043@localhost:3306/mexico_stats')
    df_h2.to_sql('hipotesis_2', con=engine, if_exists='replace', index=False)
    
    print("✅ Hipótesis 2 (Julio) cargada con éxito.")
    display(df_h2.head(3))

except Exception as e:
    print(f"❌ Error en Hipótesis 2: {e}")

✅ Hipótesis 2 (Julio) cargada con éxito.

               estados  pob_total  indice_hacinamiento
0       AGUASCALIENTES  1425607.0             3.678621
1      BAJA CALIFORNIA  3769020.0             3.258335
2  BAJA CALIFORNIA SUR   798447.0             3.303420

**HIPÓTESIS 3**

Los estados con mayor nivel educativo concentran una mayor proporción de población en edad productiva y menor envejecimiento.

In [183]:
df_educacion[['estados', 'grado promedio de escolaridad de la poblacion de 15 y mas anos']]

,estados,grado promedio de escolaridad de la poblacion de 15 y mas anos
0,AGUASCALIENTES,10.349134
1,BAJA CALIFORNIA,10.202655
2,BAJA CALIFORNIA SUR,10.342548
3,CAMPECHE,9.625130
4,CHIAPAS,7.783218
5,CHIHUAHUA,9.996942
6,CIUDAD DE MEXICO,11.482039
7,COAHUILA DE ZARAGOZA,10.431996
8,COLIMA,10.046730
9,DURANGO,9.746069
10,ESTADOS UNIDOS MEXICANOS,9.738050
11,GUANAJUATO,9.043787
12,GUERRERO,8.372699
13,HIDALGO,9.370759
14,JALISCO,9.897353
15,MICHOACAN DE OCAMPO,8.595490
16,MORELOS,9.844782
17,MEXICO,10.082398
18,NAYARIT,9.729524
19,NUEVO LEON,10.740959
20,OAXACA,8.118536
21,PUEBLA,9.160472
22,QUERETARO,10.484599
23,QUINTANA ROO,10.239289
24,SAN LUIS POTOSI,9.613127
25,SINALOA,10.223508
26,SONORA,10.403197
27,TABASCO,9.693396
28,TAMAULIPAS,10.092209
29,TLAXCALA,9.833170
30,VERACRUZ DE IGNACIO DE LA LLAVE,8.745629
31,YUCATAN,9.594718
32,ZACATECAS,9.245563

In [184]:
df_poblacion[['estados', 'indice de envejecimiento','poblacion total']]

                            estados  indice de envejecimiento  poblacion total
0                    AGUASCALIENTES                 37.740884        1425607.0
1                   BAJA CALIFORNIA                 43.185780        3769020.0
2               BAJA CALIFORNIA SUR                 38.369373         798447.0
3                          CAMPECHE                 42.558415         928363.0
4                           CHIAPAS                 28.685604        5543828.0
5                         CHIHUAHUA                 44.551709        3741869.0
6                  CIUDAD DE MEXICO                 90.249478        9209944.0
7              COAHUILA DE ZARAGOZA                 42.283811        3146771.0
8                            COLIMA                 52.873304         731391.0
9                           DURANGO                 40.762088        1832650.0
10         ESTADOS UNIDOS MEXICANOS                 47.686476      126014024.0
11                       GUANAJUATO                 41.656620        6166934.0
12                         GUERRERO                 42.855141        3540685.0
13                          HIDALGO                 48.479438        3082841.0
14                          JALISCO                 47.485277        8348151.0
15              MICHOACAN DE OCAMPO                 46.344287        4748846.0
16                          MORELOS                 58.457457        1971520.0
17                           MEXICO                 46.565328       16992418.0
18                          NAYARIT                 47.568892        1235456.0
19                       NUEVO LEON                 47.345249        5784442.0
20                           OAXACA                 48.002570        4132148.0
21                           PUEBLA                 41.860916        6583278.0
22                        QUERETARO                 41.171762        2368467.0
23                     QUINTANA ROO                 28.651509        1857985.0
24                  SAN LUIS POTOSI                 49.776994        2822255.0
25                          SINALOA                 52.686691        3026943.0
26                           SONORA                 49.513778        2944840.0
27                          TABASCO                 39.399021        2402598.0
28                       TAMAULIPAS                 48.905210        3527735.0
29                         TLAXCALA                 41.931386        1342977.0
30  VERACRUZ DE IGNACIO DE LA LLAVE                 59.048918        8062579.0
31                          YUCATAN                 52.433129        2320898.0
32                        ZACATECAS                 43.543430        1622138.0

In [185]:
from sqlalchemy import create_engine

# --- TRANSFORMACIÓN HIPÓTESIS 3 ---
try:
    # Seleccionamos columnas de Educación y Población
    df_h3 = df_educacion[['estados', 'grado promedio de escolaridad de la poblacion de 15 y mas anos']].copy()
    
    # Añadimos datos de la tabla de población
    df_h3['indice_envejecimiento'] = df_poblacion['indice de envejecimiento']
    df_h3['pob_total'] = df_poblacion['poblacion total']
    
    # Renombramos para que sea fácil en SQL
    df_h3.columns = ['estados', 'escolaridad_promedio', 'indice_envejecimiento', 'pob_total']
    
    # Limpieza: Estados en mayúsculas
    df_h3['estados'] = df_h3['estados'].str.strip().str.upper()


except Exception as e:
    print(f"❌ Error en Hipótesis 3: {e}")

Comprobaciones y visualización:

In [186]:
print("✅ Hipótesis 3: Cargada con éxito en MySQL.")
display(df_h3.head(5))

✅ Hipótesis 3: Cargada con éxito en MySQL.

               estados  escolaridad_promedio  indice_envejecimiento  pob_total
0       AGUASCALIENTES             10.349134              37.740884  1425607.0
1      BAJA CALIFORNIA             10.202655              43.185780  3769020.0
2  BAJA CALIFORNIA SUR             10.342548              38.369373   798447.0
3             CAMPECHE              9.625130              42.558415   928363.0
4              CHIAPAS              7.783218              28.685604  5543828.0

**HIPÓTESIS 4**

Los estados con mayor nivel educativo presentan un mayor acceso a internet en las viviendas.

In [187]:
# --- TRANSFORMACIÓN HIPÓTESIS 4 ---
try:
    # Seleccionamos columnas de Educación y Vivienda
    df_h4 = df_educacion[['estados', 'grado promedio de escolaridad de la poblacion de 15 y mas anos']].copy()
    
    # Añadimos datos de la tabla de vivienda (Internet y Computadoras)
    df_h4['porcentaje_internet'] = df_vivienda['porcentaje de viviendas particulares habitadas que disponen de internet']
    df_h4['viviendas_con_computadora'] = df_vivienda['viviendas particulares habitadas que disponen de computadora']
    
    # Renombramos
    df_h4.columns = ['estados', 'escolaridad_promedio', 'porcentaje_internet', 'viviendas_con_computadora']
    
    # Limpieza: Estados en mayúsculas
    df_h4['estados'] = df_h4['estados'].str.strip().str.upper() 

except Exception as e:
    print(f"❌ Error en Hipótesis 4: {e}")

Comprobaciones y visualización:

In [188]:
print("✅ Hipótesis 4: Cargada con éxito en MySQL.")
display(df_h4.head(5))

✅ Hipótesis 4: Cargada con éxito en MySQL.

,estados,escolaridad_promedio,porcentaje_internet,viviendas_con_computadora
0,AGUASCALIENTES,10.349134,61.138931,177149
1,BAJA CALIFORNIA,10.202655,69.931248,576454
2,BAJA CALIFORNIA SUR,10.342548,62.134125,108948
3,CAMPECHE,9.625130,43.816602,87769
4,CHIAPAS,7.783218,21.674054,212970

In [189]:
# --- CARGA A MYSQL ---
engine = create_engine('mysql+pymysql://root:30802043@localhost:3306/mexico_stats')
df_h3.to_sql('hipotesis_3', con=engine, if_exists='replace', index=False)

33

#  📊 Hipótesis 3: Educación vs. Envejecimiento
    ¿Los estados más educados tienen poblaciones más envejecidas?

In [190]:
# 1. Consulta para Hipótesis 3
query_h3 = """
SELECT estados, escolaridad_promedio, indice_envejecimiento 
FROM hipotesis_3 
ORDER BY escolaridad_promedio DESC 
LIMIT 10;
"""

try:
    df_analisis_h3 = pd.read_sql(query_h3, con=engine)
    
    print("👵 Top 10 Estados con mayor Escolaridad y su Índice de Envejecimiento:")
    display(df_analisis_h3)

    # 2. Cálculo de correlación
    correlacion_h3 = df_analisis_h3['escolaridad_promedio'].corr(df_analisis_h3['indice_envejecimiento'])
    print(f"\n💡 El grado de relación entre educación y envejecimiento es de: {correlacion_h3:.2f}")
    
except Exception as e:
    print(f"❌ Error al consultar SQL: {e}")

👵 Top 10 Estados con mayor Escolaridad y su Índice de Envejecimiento:

                estados  escolaridad_promedio  indice_envejecimiento
0      CIUDAD DE MEXICO             11.482039              90.249478
1            NUEVO LEON             10.740959              47.345249
2             QUERETARO             10.484599              41.171762
3  COAHUILA DE ZARAGOZA             10.431996              42.283811
4                SONORA             10.403197              49.513778
5        AGUASCALIENTES             10.349134              37.740884
6   BAJA CALIFORNIA SUR             10.342548              38.369373
7          QUINTANA ROO             10.239289              28.651509
8               SINALOA             10.223508              52.686691
9       BAJA CALIFORNIA             10.202655              43.185780

💡 El grado de relación entre educación y envejecimiento es de: 0.87

Tendencia Demográfica: La correlación es positiva, confirma que los estados con mayor acceso a la educación tienden a tener una transición demográfica más avanzada. Esto suele ocurrir porque a mayor escolaridad, se posterga la maternidad/paternidad y mejora la esperanza de vida.

Contraste Geográfico: Vemos que la CDMX probablemente lidera en ambos indicadores, mientras que otros estados del norte tienen mucha escolaridad pero poblaciones un poco más jóvenes (menos envejecidas) debido a la migración interna.

#  📊 Análisis de la Hipótesis 4: Educación vs. Internet
         1. Definir la consulta SQL (Query)

In [191]:
import pandas as pd

# Queremos ver los estados ordenados por nivel educativo de mayor a menor
query_h4 = """
SELECT estados, escolaridad_promedio, porcentaje_internet 
FROM hipotesis_4 
ORDER BY escolaridad_promedio DESC 
LIMIT 10;
"""

# 2. Traer los datos de MySQL a Python para analizar
try:
    df_analisis_h4 = pd.read_sql(query_h4, con=engine)
    
    print("📈 Top 10 Estados con mayor Escolaridad y su acceso a Internet:")
    display(df_analisis_h4)

    # 3. Un pequeño cálculo de correlación (Insight rápido)
    correlacion = df_analisis_h4['escolaridad_promedio'].corr(df_analisis_h4['porcentaje_internet'])
    print(f"\n💡 El grado de relación entre educación e internet es de: {correlacion:.2f}")
    
except Exception as e:
    print(f"❌ Error al consultar SQL: {e}")

📈 Top 10 Estados con mayor Escolaridad y su acceso a Internet:

                estados  escolaridad_promedio  porcentaje_internet
0      CIUDAD DE MEXICO             11.482039            75.727762
1            NUEVO LEON             10.740959            69.575305
2             QUERETARO             10.484599            64.416953
3  COAHUILA DE ZARAGOZA             10.431996            57.715587
4                SONORA             10.403197            60.675526
5        AGUASCALIENTES             10.349134            61.138931
6   BAJA CALIFORNIA SUR             10.342548            62.134125
7          QUINTANA ROO             10.239289            55.596700
8               SINALOA             10.223508            51.681644
9       BAJA CALIFORNIA             10.202655            69.931248

💡 El grado de relación entre educación e internet es de: 0.72

Existe una relación clara donde, a medida que sube el nivel educativo de un estado, el acceso a internet también tiende a subir de forma significativa.

       La Ciudad de México encabeza ambas listas, lo cual tiene sentido por ser el centro económico y educativo.

El "Outlier" (Caso Curioso): Baja California. Aunque está en el lugar 10 de escolaridad (10.20), tiene casi el 70% de internet, superando a Nuevo León que tiene más escolaridad.

       Esto sugiere que la cercanía con la frontera o factores económicos también impulsan el internet, no solo la escuela.

# Graficas por hipotesis